*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square{
  flex-basis: calc(100% / 6);
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square.green{
  background-color: green;
}
.square.yellow{
  background-color: yellow;
}
.container-flex{
  height: 360px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
}
